.footer{

    display: flex;
    background-color: var(--secundary_color);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 5em;
}

.footer-logo{
    width: 200px;
}